/* =====================================================
   GLOBAL STYLING THAT IS USED THROUGH OUT THIS TUTORIAL
   =====================================================
*/

body {
  background: #262335;
  padding: 10rem 3rem;
}

.container > div {
  color: #262335;
  padding: 2rem;
  border: 1px solid #262335;
  background: #f2e5cc;
}
