/*
   ----------------------------Challenge 1------------------------------------
    Create a 3 column Grid with 4 rows.
    The grid items must have the same width and the height should be 100px long
   ----------------------------------------------------------------------------
   */

body {
  background: #262335;
  display: grid;
  align-items: center;
  height: 100vh;
  padding: 1rem;
}

.container > div {
  padding: 1rem;
  border: 1px solid #262335;
  background: #f2e5cc;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 100px;
}
